/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100vh;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  box-sizing: border-box;
	line-height: 1;
  min-width: 320px;
  height: 120vh;
  max-width: 100%;
  background-image: url('../images/cafeMobile.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 375px) {
  body {
    background-image: url('../images/cafe.jpg');
  }
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.75);
}

.navMenu {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 3.5vh;
  font-family: sans-serif;
  font-size: 1.6vh;
  font-style: oblique;
  width: 12.5vw;
  color: #fff;
  margin-top: 15vh
}

.tab:hover {
  color: #388080;
  cursor: pointer;
}

#title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 7vh;
  color: #EEE;
}

/* Home page */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  min-height: fit-content;
  width: 100vw;
  color: #EEE;
  background-color: rgb(0, 0, 0, 0.85);
  padding: 4vh 0;
  margin-top: 50vh;
}

.description p {
  width: 50vw;
  font-size: 2vh;
  line-height: 160%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .description p {
    width: 60vw;
    font-size: 1.8vh
  }

  footer {
    font-size: 1.3vh;
  }
}

@media screen and (min-width: 800px) {
  .description p {
    width: 550px;
    font-size: 2.2vh;
  }
}
/* End home page */

/* Menu page */
.menuBorder {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 85vh;
  background-color: rgb(0, 0, 0, 0.75);
  margin-top: 25vh;
}
/* End menu page */

/* Contact page */
.contactSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 30vh;
  color: #eee;
  background-color: rgb(0, 0, 0, 0.85);
  margin-top: 45vh;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  font-size: 1.5vh;
  font-style: italic;
  color: #d4d4d4;
  background-color: rgb(0, 0, 0, 0.75);
  padding: 1.25vh 0 0.75vh 0;
  margin: auto auto 0 auto;
}

footer p {
  text-align: center;
}


footer a {
  text-decoration: none;
  color: #388080;
}

footer a:hover {
  color: gold;
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  footer {
    font-size: 1.3vh;
  }
}